segundo/xml-resources/web-service-references/OperacionesCrudMaestro/wsdl/10.0.89.252_8080/OperacionesCrud/OperacionesCrudMaestro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="OperacionesCrud">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://10.0.89.252:8080/OperacionesCrud/OperacionesCrudMaestro?xsd=1"/>
</xsd:schema>
</types>
<message name="readsProfesores">
<part name="parameters" element="tns:readsProfesores"/>
</message>
<message name="readsProfesoresResponse">
<part name="parameters" element="tns:readsProfesoresResponse"/>
</message>
<message name="updateProfesor">
<part name="parameters" element="tns:updateProfesor"/>
</message>
<message name="updateProfesorResponse">
<part name="parameters" element="tns:updateProfesorResponse"/>
</message>
<message name="readProfesor">
<part name="parameters" element="tns:readProfesor"/>
</message>
<message name="readProfesorResponse">
<part name="parameters" element="tns:readProfesorResponse"/>
</message>
<message name="createProfesor">
<part name="parameters" element="tns:createProfesor"/>
</message>
<message name="createProfesorResponse">
<part name="parameters" element="tns:createProfesorResponse"/>
</message>
<message name="deleteProfesor">
<part name="parameters" element="tns:deleteProfesor"/>
</message>
<message name="deleteProfesorResponse">
<part name="parameters" element="tns:deleteProfesorResponse"/>
</message>
<portType name="OperacionesCrudMaestro">
<operation name="readsProfesores">
<input wsam:Action="http://ws/OperacionesCrudMaestro/readsProfesoresRequest" message="tns:readsProfesores"/>
<output wsam:Action="http://ws/OperacionesCrudMaestro/readsProfesoresResponse" message="tns:readsProfesoresResponse"/>
</operation>
<operation name="updateProfesor">
<input wsam:Action="http://ws/OperacionesCrudMaestro/updateProfesorRequest" message="tns:updateProfesor"/>
<output wsam:Action="http://ws/OperacionesCrudMaestro/updateProfesorResponse" message="tns:updateProfesorResponse"/>
</operation>
<operation name="readProfesor">
<input wsam:Action="http://ws/OperacionesCrudMaestro/readProfesorRequest" message="tns:readProfesor"/>
<output wsam:Action="http://ws/OperacionesCrudMaestro/readProfesorResponse" message="tns:readProfesorResponse"/>
</operation>
<operation name="createProfesor">
<input wsam:Action="http://ws/OperacionesCrudMaestro/createProfesorRequest" message="tns:createProfesor"/>
<output wsam:Action="http://ws/OperacionesCrudMaestro/createProfesorResponse" message="tns:createProfesorResponse"/>
</operation>
<operation name="deleteProfesor">
<input wsam:Action="http://ws/OperacionesCrudMaestro/deleteProfesorRequest" message="tns:deleteProfesor"/>
<output wsam:Action="http://ws/OperacionesCrudMaestro/deleteProfesorResponse" message="tns:deleteProfesorResponse"/>
</operation>
</portType>
<binding name="OperacionesCrudMaestroPortBinding" type="tns:OperacionesCrudMaestro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readsProfesores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OperacionesCrud">
<port name="OperacionesCrudMaestroPort" binding="tns:OperacionesCrudMaestroPortBinding">
<soap:address location="http://10.0.89.252:8080/OperacionesCrud/OperacionesCrudMaestro"/>
</port>
</service>
</definitions>