segundo/xml-resources/web-service-references/OperacionesCrudAlumno/wsdl/10.0.89.252_8080/OperacionesCrudAlumno/OperacionesCrudAlumno.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="OperacionesCrudAlumno">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://10.0.89.252:8080/OperacionesCrudAlumno/OperacionesCrudAlumno?xsd=1"/>
</xsd:schema>
</types>
<message name="readsProfesores">
<part name="parameters" element="tns:readsProfesores"/>
</message>
<message name="readsProfesoresResponse">
<part name="parameters" element="tns:readsProfesoresResponse"/>
</message>
<message name="updateAlumno">
<part name="parameters" element="tns:updateAlumno"/>
</message>
<message name="updateAlumnoResponse">
<part name="parameters" element="tns:updateAlumnoResponse"/>
</message>
<message name="readAlumno">
<part name="parameters" element="tns:readAlumno"/>
</message>
<message name="readAlumnoResponse">
<part name="parameters" element="tns:readAlumnoResponse"/>
</message>
<message name="createAlumno">
<part name="parameters" element="tns:createAlumno"/>
</message>
<message name="createAlumnoResponse">
<part name="parameters" element="tns:createAlumnoResponse"/>
</message>
<message name="deleteAlumno">
<part name="parameters" element="tns:deleteAlumno"/>
</message>
<message name="deleteAlumnoResponse">
<part name="parameters" element="tns:deleteAlumnoResponse"/>
</message>
<portType name="OperacionesCrudAlumno">
<operation name="readsProfesores">
<input wsam:Action="http://ws/OperacionesCrudAlumno/readsProfesoresRequest" message="tns:readsProfesores"/>
<output wsam:Action="http://ws/OperacionesCrudAlumno/readsProfesoresResponse" message="tns:readsProfesoresResponse"/>
</operation>
<operation name="updateAlumno">
<input wsam:Action="http://ws/OperacionesCrudAlumno/updateAlumnoRequest" message="tns:updateAlumno"/>
<output wsam:Action="http://ws/OperacionesCrudAlumno/updateAlumnoResponse" message="tns:updateAlumnoResponse"/>
</operation>
<operation name="readAlumno">
<input wsam:Action="http://ws/OperacionesCrudAlumno/readAlumnoRequest" message="tns:readAlumno"/>
<output wsam:Action="http://ws/OperacionesCrudAlumno/readAlumnoResponse" message="tns:readAlumnoResponse"/>
</operation>
<operation name="createAlumno">
<input wsam:Action="http://ws/OperacionesCrudAlumno/createAlumnoRequest" message="tns:createAlumno"/>
<output wsam:Action="http://ws/OperacionesCrudAlumno/createAlumnoResponse" message="tns:createAlumnoResponse"/>
</operation>
<operation name="deleteAlumno">
<input wsam:Action="http://ws/OperacionesCrudAlumno/deleteAlumnoRequest" message="tns:deleteAlumno"/>
<output wsam:Action="http://ws/OperacionesCrudAlumno/deleteAlumnoResponse" message="tns:deleteAlumnoResponse"/>
</operation>
</portType>
<binding name="OperacionesCrudAlumnoPortBinding" type="tns:OperacionesCrudAlumno">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readsProfesores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OperacionesCrudAlumno">
<port name="OperacionesCrudAlumnoPort" binding="tns:OperacionesCrudAlumnoPortBinding">
<soap:address location="http://10.0.89.252:8080/OperacionesCrudAlumno/OperacionesCrudAlumno"/>
</port>
</service>
</definitions>